@font-color: rgb(59, 59, 59);
@header-color: rgb(56, 92, 139);
@light-blue: rgb(22, 74, 231);
@white-isch-color: rgb(245, 245, 245);
@bright-grey: rgb(235, 235, 235);
@heading-color: #2e55b3;

h1, h2, h3, h4, h5, h6 {
  color: @heading-color;

  a {
    color: @heading-color;
  }
}

a, a:visited {
  color: @light-blue;
  text-decoration: none;
}

h3 {
  /*text-decoration: underline;*/
  font-size: 1.5em;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: @font-color;
  background-color: @bright-grey;
}

.page-container {
  margin-top: 2 * 15px + 15px;
}

.post-list {
  padding-left: 0;

  .element {
    list-style-type: none;
    padding: 0;
    margin: 10px 30px;
    padding: 20px;
    border-top: 1px solid darken(@bright-grey, 20%);;

    &:nth-of-type(1) {
      border-top: none;
    }

    .description {
      font-weight: 100;
    }
  }
  a, a:visited {
    color: @font-color;
  }
}

.sidebar-container {
  float: left;
  width: 25%;
}

.sidebar {

  ul {
    padding: 0;
  }
  margin: 20px;

  font-size: small;

  li {
    list-style-type: none;
    margin: none;
    font-weight: 100;
    color: lighten(@font-color, 20%);
  }
}

.clearfix {
  clear: both;
}

footer {
  margin: 20px;
  border: 1px solid rgb(233, 233, 233);
}

.footer-block {
  width : 33%;
  float : left;

  > .inner {
    margin : 30px 15px;
    float: none;
  }
}

.center-block {
  width: 960px;
  margin-left:auto;
  margin-right: auto;
}

.heading-wrapper {
  position: relative;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;

  .wrapper {
    padding: 15px 15px;
  }
}

.main-content {
  float: left;
  width: 75%;
  background-color: @white-isch-color;
  box-shadow: 0 5px 5px darken(@white-isch-color, 30%);
}

.top-bar, header {
  background-color: @header-color;
  color: @white-isch-color;
  border-bottom: 2px solid darken(@header-color, 10%);

  a, a:visited {
    color: @white-isch-color;
  }
}

.page-menu {
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    list-style-type: none;
    margin: 0 15px;
    padding: 0;
  }

  .home {
    margin: 0 20px;
  }
}

@shadow-color: darken(@white-isch-color, 30%);

header {
  padding: 60px 20px;
  box-shadow: 0 3px 5px @shadow-color;

  h1, h2, h3, h4, h5, h6 {
    color: @white-isch-color;
  }
}

article {
  background-color: @white-isch-color;
  box-shadow: 0 5px 5px @shadow-color;
  padding: 30px;
}

.project {
  float: left;
  width: 50%;

  .wrapper {
    margin: 10px;
    padding: 5px;
  }

  .heading {
    margin: 5px 0;
  }

  .language, .stats {
    font-weight: 100;
    font-size: small;
    color: lighten(@font-color, 30%);

    a, a:visited {
      color: lighten(@font-color, 30%);
    }
  }

  .language {
    float: left;
  }

  .stats {
    text-decoration: underline;
    float: right;
    display: inline-block;

    .name {
      padding: 5px;
    }
  }
}

@media (max-width: 960px) {
  .main-content {
    width: 100%;
  }

  .project {
    width:100%;
  }

  .sidebar-container {
    width: 100%;
  }

  .center-block {
    width: 100%;
  }
}


ul.project-list {
  list-style-type: none;
  padding: 0;
}
